@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Database:</strong> <a href="mailto:jonas.askeland@payex.com">Jonas.Askeland@payex.com</a><br />
    <strong>FrontEnd:</strong> <a href="mailto:Granerud.Daniel@gmail.com">Granerud.Daniel@gmail.com</a>
</address>
