<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - dndChar.Api</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/css/bootstrap/bootstrap.min.css"/>
    
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a asp-page="/Index" class="navbar-brand">JD&D.CharacterSheets</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" asp-page="/Index">Home</a>
            <a class="nav-item nav-link" asp-page="/About">About</a>
            <a class="nav-item nav-link" asp-page="/Contact">Contact</a>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>

<partial name="_CookieConsentPartial"/>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer class="page-footer font-small blue pt-4">
        <div class="footer-copyright text-center py-3">
            <p>&copy; 2018 - dndChar.Api</p>
        </div>
    </footer>
</div>

<environment include="Development">
    <script src="~/lib/bootstrap/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
</environment>

@RenderSection("Scripts", required: false)
</body>
</html>
