@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage" class="nav-item nav-link">Hello @UserManager.GetUserName(User)!</a>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new {area = ""})" method="post" id="logoutForm">
        <button type="submit" class="nav-item nav-link">Logout</button>
    </form>
}
else
{
    <a asp-area="Identity" asp-page="/Account/Register" class="nav-item nav-link">Register</a>
    <a asp-area="Identity" asp-page="/Account/Login" class="nav-item nav-link">Login</a>
}