@page
@model dndChar.Api.Pages.Shared._ShowCharactersModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CharacterSheet) {
        <tr>
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.CharacterSheetId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CharacterSheetId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CharacterSheetId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
